<footer id="footer" class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <strong>Talan Tunisie</strong>
            </h6>
            <p>
                Depuis 2008, Talan Tunisie oeuvre en tant que centre nearshore. Basé à Tunis, Talan Shore est le 2ème plus grand centre de développement du groupe.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Secteurs
            </h6>
            <p>
              <a href="" class="text-reset">Assurance</a>
            </p>
            <p>
              <a href="" class="text-reset">Finance</a>
            </p>
            <p>
              <a href="" class="text-reset">Secteur Public</a>
            </p>
            <p>
              <a href="" class="text-reset">Télécom</a>
            </p>
            <p>
                <a href="" class="text-reset">Trasnport et logistique</a>
            </p>
            <p>...</p>
          </div>
          <!-- Grid column -->
  
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="" class="text-reset">http://www.talan.tn</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="glyphicon glyphicon-home"></i>10 Rue de l'énergie solaire Impasse N°1 Charguia 1، Tunis 2035S</p>
            <p>
              <i class="glyphicon glyphicon-envelope"></i>
              jobs.tunisia@talan.com
            </p>
            <div style="text-align: center;">
            <p><i class="fa fa-phone" aria-hidden="true"></i> +216 7001 5010</p>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
   
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright
    </div> 
  </footer>
  